<nav class="navbar navbar-expand-lg navbar navbar-dark sticky-top bg-dark px-5 py-3">
    <div class="container-fluid">
        <a class="navbar-brand h1 mb-0" href="#">Stock Managemet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/sales">Sales Window</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/stock-details">Stock Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/add-stock-item">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/add-category">Add Category</a>
                </li>
            </ul>
            <div class="nav-log">
                <button [class]="isAuthenticated ? 'btn-danger' : 'btn-success'" class="btn">{{isAuthenticated ? 'Logout' : 'Login'}}</button>
            </div>
        </div>
    </div>
</nav>
<div>
    <div class="row" style="margin: 0">
        <!-- <div  *ngIf="isAuthenticated"  class="col-2 p-0" id="sticky-sidebar">
          <div class="bg-dark-gray">
              <div class="list-group">
                  <a routerLink="/sales" class="list-group-item list-group-item-action text-center h5">Sales Window</a>
                  <a routerLink="/stock-details" class="list-group-item list-group-item-action text-center h5">Stock Details</a>
                  <a routerLink="/add-stock-item" class="list-group-item list-group-item-action text-center h5">New Product</a>
                  <a href="#" class="list-group-item list-group-item-action text-center h5">Link 1</a>
              </div>
          </div>
        </div> -->
        <div class="col order-1 p-0" id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Modal -->
<div class="modal fade" tabindex="-1" id="info-model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 [ngClass]="textClass" class="modal-title">{{modalMessage}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
  </div>
<!-- <footer>
    <div id="footer" class="py-4">
        <div class="container">
            <span class="text-muted">All rights reserved.</span>
        </div>
    </div>
</footer> -->